#daniel{
      grid-area:daniel;
      background: $violet;
      .avatar{
            border-color: rgba(255, 255, 255, .5);
      }
      h1{
            color:white;
            font-weight:600;
      }
      h3{
            color:white;
      }
      h4{
            color:rgba(255, 255, 255, 0.7);
            font-weight:500;
      }
}

#jeanette{   
      grid-area:jeanette;
      background: white;
      .avatar{
            border-color: rgba(175, 175, 175, 0.514);
      }
      h1{
            color:$grayishBlue;
            font-weight:600;
      }
      h3{
            color:$grayishBlue;
      }
      h4{
            color:hsl(217, 19%, 65%);
            font-weight:500;
      }
}

#jonathan{
      grid-area:jonathan;
      background: $grayishBlue;
      .avatar{
            border-color: rgba(255, 255, 255, .5);
      }
      h1{
            color:white;
            font-weight:600;
      }
      h3{
            color:white;
      }
      h4{
            color:rgba(255, 255, 255, 0.5);
            font-weight:500;
      }
}

#patrick{
      grid-area:patrick;
      background: $blackishBlue;
      .avatar{
            border-color: $violet;
      }
      h1{
            color:white;
            font-weight:600;
      }
      h3{
            color:white;
      }
      h4{
            color:rgba(255, 255, 255, 0.7);
            font-weight:500;
      }
}

#kira{
      grid-area:kira;
      background: white;
      .avatar{
            border-color: rgba(146, 146, 146, 0.5);
      }
      h1{
            color:$grayishBlue;
            font-weight:600;
      }
      h3{
            color:$grayishBlue;
      }
      h4{
            color:hsl(217, 19%, 65%);
            font-weight:500;
      }
}