@media (min-width:1700px){
      main{
            display:grid;
            margin:4rem 12rem;
      }
}

@media (max-width:1700px){
      main{
            // background:red;
            display:grid;
            margin:4rem 8rem;
            grid-template-columns:repeat(2, 1fr);
            // grid-template-rows:repeat(3, 1fr);         
            // grid-template-areas:"daniel jonathan"
            // "jeanette patrick"
            // "kira kira";
      }
      #daniel{
            grid-column: 1/3;
            grid-row: 1/2;
      }
      #jonathan{
            grid-column: 3/5;
            grid-row: 1/2;
      }
      #kira{
            grid-column: 1/3;
            grid-row: 2/3;
      }
      #jeanette{
            grid-column: 1/3;
            grid-row: 3/4;  
      }
      #patrick{
            grid-column: 3/5;
            grid-row: 2/3;
      }
};

@media (max-width:1100px){
      body{
            overflow-x: hidden;
      }
      main{
            margin:2rem 2%;
            display:flex;
            flex-direction:column;
      }
      .grid-card{
            min-width:300px;
      }
}

@media (max-width:500px){
      body{
            min-width:320px;
      }
      .grid-card{
            display:flex;
            justify-content:center;
            flex-direction:column;
            h1{
                  font-size:18px;
            };
            h3{
                  font-size:16px;
            };
            h4{
                  font-size:16px;
            };
      };
      .persona{
            justify-content:center;
      };
}