@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap");
#daniel {
  grid-column: 1/3;
  grid-row: 1/2;
  background: #7541c8;
}
#daniel #avatar {
  border-color: rgba(255, 255, 255, 0.5);
}
#daniel h1 {
  color: white;
  font-weight: 600;
}
#daniel h3 {
  color: white;
}
#daniel h4 {
  color: rgba(255, 255, 255, 0.7);
  font-weight: 500;
}

#jeanette {
  grid-column: 1/2;
  grid-row: 2/3;
  background: white;
}
#jeanette #avatar {
  border-color: rgba(175, 175, 175, 0.514);
}
#jeanette h1 {
  color: #48556a;
  font-weight: 600;
}
#jeanette h3 {
  color: #48556a;
}
#jeanette h4 {
  color: #95a2b7;
  font-weight: 500;
}

#jonathan {
  grid-column: 3/4;
  grid-row: 1/2;
  background: #48556a;
}
#jonathan #avatar {
  border-color: rgba(255, 255, 255, 0.5);
}
#jonathan h1 {
  color: white;
  font-weight: 600;
}
#jonathan h3 {
  color: white;
}
#jonathan h4 {
  color: rgba(255, 255, 255, 0.5);
  font-weight: 500;
}

#patrick {
  grid-column: 2/4;
  grid-row: 2/3;
  background: #19212e;
}
#patrick #avatar {
  border-color: #7541c8;
}
#patrick h1 {
  color: white;
  font-weight: 600;
}
#patrick h3 {
  color: white;
}
#patrick h4 {
  color: rgba(255, 255, 255, 0.7);
  font-weight: 500;
}

#kira {
  grid-column: 4/5;
  grid-row: 1/3;
  background: white;
}
#kira #avatar {
  border-color: rgba(146, 146, 146, 0.5);
}
#kira h1 {
  color: #48556a;
  font-weight: 600;
}
#kira h3 {
  color: #48556a;
}
#kira h4 {
  color: #95a2b7;
  font-weight: 500;
}

@media (min-width: 1700px) {
  main {
    display: grid;
    margin: 4rem 12rem;
  }
}
@media (max-width: 1700px) {
  main {
    display: grid;
    margin: 4rem 8rem;
    grid-template-columns: repeat(2, 1fr);
  }

  #daniel {
    grid-column: 1/3;
    grid-row: 1/2;
  }

  #jonathan {
    grid-column: 3/5;
    grid-row: 1/2;
  }

  #kira {
    grid-column: 1/3;
    grid-row: 2/3;
  }

  #jeanette {
    grid-column: 1/3;
    grid-row: 3/4;
  }

  #patrick {
    grid-column: 3/5;
    grid-row: 2/3;
  }
}
@media (max-width: 1100px) {
  body {
    overflow-x: hidden;
  }

  main {
    margin: 2rem 2%;
    display: flex;
    flex-direction: column;
  }

  .grid-card {
    min-width: 300px;
  }
}
@media (max-width: 500px) {
  body {
    min-width: 320px;
  }

  .grid-card {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .grid-card h1 {
    font-size: 18px;
  }
  .grid-card h3 {
    font-size: 16px;
  }
  .grid-card h4 {
    font-size: 16px;
  }

  #persona {
    justify-content: center;
  }
}
* {
  font-family: "Barlow Semi Condensed", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* h1 {
  font-size: 25px;
}

.quote {
  font-size: 18px;
}

body {
  background: #EDF2F8;
}

main {
  grid-gap: 1.5rem;
  grid-template-columns: repeat(4, 1fr);
}

.grid-card {
  position: relative;
  border-radius: 20px;
  padding: 2.5rem;
  box-shadow: 20px 25px 50px #9c9c9c2c;
}

#persona {
  display: flex;
  margin: 0 0 15px 0;
  user-select: none;
}

#avatar {
  margin: auto 0;
  border-radius: 50%;
  border-width: 3px;
  border-style: solid;
}

#name-job {
  line-height: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 25px;
}

#quote-bg {
  user-select: none;
  position: absolute;
  top: 0;
  right: 15%;
  z-index: 0;
  width: 150px;
}

.quote {
  opacity: 0.7;
  margin: 25px 0;
}

.card-content {
  margin: auto 0;
  position: relative;
  z-index: 1;
}

/*# sourceMappingURL=style.css.map */
